# Personal settings for Visual Studio Code
.vscode/settings.json

canvas-datagrid.js
canvas-datagrid.debug.js

.codesandbox
.codesandbox.json
.codesandbox-staging.json

# mac OS files
.DS_Store
._*

npm-debug.log
node_modules
build
dist

*.log
*.tar
*.tar.gz
